<div class="follow-container">
  <div class="message-container">
    <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %></h1>
    <h1>Message</h1>
    <div class="message">
      <% @messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <div class="my-message">
            <p style="text-align: left;">
              <%= message.message %>
            </p>
            <%= link_to "削除", message_path(@room, @message), method: :delete, class: "nav-link text-dark" %>
          </div>
        <% else %>
          <div class="friend-message">
            <div class="faceicon">
              <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_profile_image.jpg" %>
            </div>
            <div class="text-container">
              <div class="text">
                <p style="text-align: left;"><%= message.message %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="message-form">
      <%= form_with model: @message, data: {remote: true} do |f| %>
        <div class="form-group row">
          <div class="col-9 text-right">
            <%= f.text_field :message, id: "message-send", placeholder: "メッセージ" %>
            <%= f.hidden_field :room_id %>
          </div>
          <div class="col-2 p-0 text-left">
            <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
              <i class="fas fa-caret-right"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
