<hr>
<div class="comments card-text">
  <h4 class="mt-3"><%= post.comments.count %>件のコメント</h4>
  <% post.comments.each do |comment| %>
    <p class="text-right mb-0"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <div class="comment-box mb-3">
      <div class="row">
        <div class="col-xxl-2 col-lg-3 col-sm-2 col-3 px-0 ml-sm-0 ml-1 text-center">
          <%= link_to user_path(comment.user) do %>
            <%= attachment_image_tag comment.user, :profile_image, :fill, 70, 70, fallback: "no_profile_image.jpg", class:"profile-image mt-3 rounded-circle"%></br>
          <% end %>
        </div>
        <div class="col-xxl-10 col-lg-9 col-sm-10 col-8 px-0 py-2 pr-4">
          <div class="username my-3"><%= comment.user.nickname %></div>
          <p><%= comment.comment %></p>
          <% if comment.user == current_user %>
            <div class="text-right mr-3">
              <%= link_to post_comment_path(comment.post, comment), id: 'delete-' + comment.id.to_s + '-btn', method: :delete, remote: true do %>
                <span class="trash">
                  <span></span>
                  <i></i>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="new-comment card-text">
  <%= form_with(model:[post, Comment.new], remote: true) do |f| %>
    <div id="comments-error">
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="form-group">
      <div class="comment-field">
        <%= f.label :コメント %><br />
       <%= f.text_area :comment, rows:'5', class: "form-control", id: "comment_form", placeholder: "500文字以内" %>
      </div>
      <div class="comment-action">
        <%= f.submit "コメントを送る" %>
      </div>
    </div>
  <% end %>
</div>