<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="notification-container">
  <div class="row">
    <div class="col-2 ml-md-0 px-0 ml-3">
      <%= link_to user_path(notification.visiter) do %>
        <%= attachment_image_tag visiter, :profile_image, :fill, 75, 75, fallback: "no_profile_image.jpg", class:"profile-image mt-3 rounded-circle"; %>
      <% end %>
    </div>
    <div class="notification-text col-md-10 col-8 ml-0 pl-0">
      <div class="text-right pr-0">
        <span><%= "#{time_ago_in_words(notification.created_at)} å‰" %></span>
      </div>
      <div class="notification_form text-left row ml-1">
        <%= notification_form(notification) %>
      </div>
      <div class="row mt-1 ml-1">
        <% if !@comment.nil? %>
          <p style="color: #C0C0C0;"><%= @comment %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>