<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="container">
  <div class="row">
    <div class="col-2 text-center">
    <%= link_to users_path(notification.visiter) do %>
      <%= attachment_image_tag visiter, :profile_image, :fill, 75, 75, fallback: "no_image.jpg", class:"profile-image mt-3 rounded-circle"; %>
    <% end %>
    </div>
    <div class="col-8 text-left">
      <div class="notification_form row mt-5">
        <%= notification_form(notification) %>
      </div>
      <div class="row mt-3">
        <% if !@comment.nil? %>
          <p style="color: #C0C0C0;"><%= @comment %></p>
        <% end %>
      </div>
    </div>
    <div class="col-2 text-right">
      <span><%= "#{time_ago_in_words(notification.created_at)} å‰" %></span>
    </div>
  </div>
</div>
<hr>