<%= form_with model: @group, local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="group-field">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="group-field">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>
  <div class="group-field">
    <%= f.label :グループ画像 %>
    <%= f.attachment_field :image, class: "form-control-file" %>
  </div>
  <div class="group-field">
    <%= f.submit "グループ作成" %>
  </div>
<% end %>