<div class="group-field" id="group-text">
  <%= f.label :グループ名 %><span Class="group-required">必須</span><br />
  <%= f.text_field :name, autofocus: true, autocomplete: "title", placeholder: "20文字以内"  %>
</div>
<div class="group-field" id="group-text">
  <%= f.label :紹介文 %><br />
  <%= f.text_area :introduction, autocomplete: "content", placeholder: "1000文字以内" %>
</div>
<div class="group-field" id="field-image">
  <%= f.label :グループ画像 %><br />
  <%= attachment_image_tag group, :image, fallback: "no_image.jpg" %>
  <%= f.attachment_field :image %>
</div>


