<h2>プロフィール編集</h2>
<%= form_with model:@user, local:true do |f| %>
  <table>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
    </tr>
    <tr>
      <td>ニックネーム</td>
      <td><%= f.text_field :nickname, autocomplete: "nickname" %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>生年月日</td>
      <td><%= f.date_select :birthday, use_month_numbers: true, start_year: 1900, end_year: Time.now.year, autofocus: true %></td>
    </tr>
    <tr>
      <td>プロフィール画像</td>
      <td>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br />
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </td>
    </tr>
    <tr>
      <td>自己紹介</td>
      <td><%= f.text_area :introduction, autocomplete: "introduction", placeholder: "50字以内で自由に記述してください" %></td>
    </tr>
  </table>
  <%= f.submit "更新する", class: "btn btn-success" %>
<% end %>
