<div class="follow-container">
  <div class="follow-contents">
    <h1><%= @user.nickname %></h1>
    <h1><%= @title %></h1>
    <div class="follow-index">
      <hr>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-md-3 text-center">
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_profile_image.jpg", class:"profile-image mt-3 rounded-circle"; %>
                <% end %>
              </div>
              <div class="col-lg-8 col-md-7 text-left">
                <div class="row">
                  <%= link_to user_path(user) do %>
                    <h2><%= user.nickname %></h2>
                  <% end %>
                </div>
                <div class="row">
                  <h6>posts : <%= user.posts.count %></h6>
                </div>
                <div class="row">
                  <%= user.introduction %>
                </div>
              </div>
              <div class="col-2">
                <div class="follow_<%= user.id %>">
                  <span class="index_follow_form">
                    <span class="follow_form" >
                      <%= render 'relationships/follow_form', user: user %>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      <% else %>
        <h4 class="mt-5">ユーザーはいません。</h4>
      <% end %>
    </div>
  </div>
</div>
