<div class="follow-container">
  <div class="users-contents">
    <h1>Users</h1>
    <div class="search-form">
      <%= form_with url: search_users_path, method: :get, local: true do |f| %>
        <span class="search_title">
          <%= f.text_field :keyword, value: @keyword, placeholder: "ユーザー検索", style: "border: none" %>
        </span>
        <span class="search_action">
          <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit" %>
        </span>
      <% end %>
    </div>
    <div class="follow-index">
      <hr>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <div class="container">
            <div class="row">
              <div class="col-xl-2 col-md-3 col-3 text-left ml-md-0 px-0 ml-1">
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_profile_image.jpg", class:"profile-image mt-3 rounded-circle"; %><br>
                <% end %>
                <span id="users-counts-responsive">
                  <h7>posts : <%= user.posts.count %></h7><br>
                  <span class="follow_<%= user.id %>">
                    <h7>following : </h7>
                    <span class="following-count">
                      <%= link_to following_user_path(user) do %>
                        <h7><%= user.following.count %></h7><br>
                      <% end %>
                    </span>
                    <h7>followers : </h7>
                    <span class="followers-count">
                      <%= link_to followers_user_path(user) do %>
                        <h7><%= user.followers.count %></h7>
                      <% end %>
                    </span>
                  </span>
                </span>
              </div>
              <div class="col-xl-10 col-md-9 col-8 text-left px-0">
                <div class="row">
                  <div class="col-xl-10 col-md-10 col-8 text-left px-0">
                    <%= link_to user_path(user) do %>
                      <h2 class="username-show"><%= user.name %><br>(<%= user.nickname %>)</h2>
                    <% end %>
                  </div>
                  <div class="col-md-2 col-3 mr-md-0 mr-1">
                    <div class="follow_<%= user.id %>">
                      <span class="index_follow_form">
                        <span class="follow_form" >
                          <%= render 'relationships/follow_form', user: user %>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row" id="users-counts">
                 <h7>posts : <%= user.posts.count %>&emsp;</h7>
                  <span class="follow_<%= user.id %>">
                    <h7>following : </h7>
                    <span class="following-count">
                      <%= link_to following_user_path(user) do %>
                        <h7><%= user.following.count %>&emsp;</h7>
                      <% end %>
                    </span>
                    <h7>followers : </h7>
                    <span class="followers-count">
                      <%= link_to followers_user_path(user) do %>
                        <h7><%= user.followers.count %></h7>
                      <% end %>
                    </span>
                  </span>
                </div>
                <div class="row mr-md-0 mr-md-0 mr-1" id="user-introduction">
                  <h7><%= user.introduction %></h7>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      <% else %>
        <h4 class="mt-5">ユーザーはいません</h4>
      <% end %>
    </div>
  </div>
</div>




