<div class="search-form">
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
    <span class="search_title">
      <%= f.text_field :keyword, value: @keyword, placeholder: "ユーザー検索", style: "border: none" %>
    </span>
    <span class="search_action">
     <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit" %>
    </span>
  <% end %>
</div>

<div class="user-index-containar py-5">
  <% @users.each do |user| %>
    <div class="card-two">
      <header class="users-header">
        <div class="avatar">
          <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
        </div>
      </header>
      <h3>
        <%= user.name %></br>
        （<%= user.nickname %>）
      </h3>
      <div class="desc">
        <%= user.introduction %>
      </div>
      <div class="counts">
        <span class="follow_<%= user.id %>">
        <ul>
          <li>
            <span>2</span>
            <p>posts</p>
          </li>
          <li>
            <span class="following-count"><%= user.following.count %></span>
            <p>following</p>
          </li>
          <li>
            <span class="followers-count"><%= user.followers.count %></span>
            <p>followers</p>
          </li>
        </ul>
        </span>
      </div>
      <span class="follow_<%= user.id %>">
        <span class="follow_form" ><%= render 'relationships/follow_form', user: user %></span>
      </span>
      </footer>
    </div>
  <% end %>
</div>