<div class="containar">
  <div id="userpage-title">
    <% if current_user.present? && (@user.id == current_user.id) %>
      <h1>My page</h1>
    <% else %>
      <h1><%= @user.nickname %></h1>
    <% end %>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="user-show-containar">
        <div class="card">
          <header class="users-header">
            <div class="avatar">
              <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg" %>
            </div>
          </header>
          <h3><%= @user.nickname %></h3>
          <span class="birthday">
            <i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;<%= @user.birthday.strftime("%-m月%-d日") %>
          </span>
          <div class="desc">
            <%= @user.introduction %>
          </div>
          <div class="counts">
            <span class="follow_<%= @user.id %>">
            <ul>
              <li>
                <span><%= @user.posts.count %></span>
                <p>posts</p>
              </li>
              <li>
                <span class="following-count">
                  <%= link_to following_user_path(@user) do %>
                    <%= @user.following.count %>
                  <% end %>
                </span>
                <p>following</p>
              </li>
              <li>
                <span class="followers-count">
                  <%= link_to followers_user_path(@user) do %>
                    <%= @user.followers.count %>
                  <% end %>
                </span>
                <p>followers</p>
              </li>
            </ul>
            </span>
          </div>
          <% if current_user.present? && (@user.id == current_user.id) %>
            <footer class="users-footer", id="footer-mypage">
              <%= link_to "プロフィール編集", edit_user_path(@user) %>
            </footer>
          <% elsif current_user.present? && (@user.id != current_user.id) %>
            <div class="follow_<%= @user.id %>">
              <div class="follow_form mb-5">
                <span class="follow_form" ><%= render 'relationships/follow_form', user: @user %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <div class="col-sm">
       <%= render "calendar" %>
    </div>
    <div class="col-md-7 px-3 ml-5">
      <h3 class="mb-4">posts</h3>
      <%= render "posts/post_index", posts: @posts %>
    </div>

  </div>
</div>