<div class="containar">
  <div class="flash-message" id="flash-message-user">
    <%= render 'layouts/flash_messages' %>
  </div>
  <div id="userpage-title">
    <% if current_user.present? && (@user.id == current_user.id) %>
      <h1>My page</h1>
    <% else %>
      <h1><%= @user.nickname %></h1>
    <% end %>
  </div>
  <div class="row mb-5">
    <div class="col-xl-5 px-3">
      <div class="user-show-containar mx-5" >
        <div class="card mx-auto">
          <header class="users-header">
            <div class="avatar">
              <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_profile_image.jpg" %>
            </div>
          </header>
          <h3><%= @user.nickname %></h3>
          <span class="birthday">
            <i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;<%= @user.birthday.strftime("%-m月%-d日") %>
          </span>
          <div class="desc">
            <%= @user.introduction %>
          </div>
          <div class="counts">
            <span class="follow_<%= @user.id %>">
            <ul>
              <li>
                <span><%= @user.posts.count %></span>
                <p>posts</p>
              </li>
              <li>
                <span class="following-count">
                  <%= link_to following_user_path(@user) do %>
                    <%= @user.following.count %>
                  <% end %>
                </span>
                <p>following</p>
              </li>
              <li>
                <span class="followers-count">
                  <%= link_to followers_user_path(@user) do %>
                    <%= @user.followers.count %>
                  <% end %>
                </span>
                <p>followers</p>
              </li>
            </ul>
            </span>
          </div>
          <% if current_user.present? && (@user.id == current_user.id) %>
            <span class="follow_footer_a">
              <footer class="users-footer", id="footer-mypage">
                <%= link_to "プロフィール編集", edit_user_path(@user) %>
              </footer>
            </span>
          <% elsif current_user.present? && (@user.id != current_user.id) %>
            <div class="follow_<%= @user.id %>">
              <div class="follow_footer_a mb-5">
                <span class="follow_form" ><%= render 'relationships/follow_form', user: @user %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xl-7">
      <%= render "calendar" %>
    </div>
  </div>
  <div class="col">
    <h3 class="users-show-post">posts</h3>
    <%= render "posts/post_index", posts: @posts %>
  </div>
</div>