<div class="box1">
  <div class="box1-inner">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="devise-text">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </div>
    <div class="box-form">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>
    <div class="box-form">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"  %>
      <div class="a-row">
        <div class="column-left">
          <%= link_to "パスワードをお忘れですか？", new_user_password_path %>
        </div>
      </div>
    </div>
    <div class="action">
      <%= f.submit "ログイン" %>
      <% if devise_mapping.rememberable? %>
      <div class="remember">
        <%= f.check_box :remember %>
        <%= f.label :remember, "ログイン状態を保持する" %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="box-user">
      <p>新規登録は <%= link_to "こちら", new_user_registration_path %> から</p>
    </div>
  </div>
</div>

