<% if @posts.present? %>
  <div class="card2-group row row-cols-3">
    <% @posts.each do |post| %>
      <div class="card2 shadow">
        <div class="card2-header">
          <span class="card2-title">
            <%= post.title %>
          </span>
        </div>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, class:"card2-img"; %>
        <% end %>
        <div class="card2-body">
          <div class="row">
            <div class="col-10" id="favorite_<%= post.id %>">
              <div class="icon">
                <div class="favorite"><%= render "favorites/favorite", post: post %></div>
                <div class="comment">
                  <%= link_to post_path(post.id), class:"text-dark" do %>
                    <i class="far fa-comment-alt"></i>
                    <span> <%= post.comments.count %></span>
                  <% end %>
                </div>
                <div class="status"><%= post.status ? '非公開' : '公開' %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h4 class="mb-5 text-center">まだ投稿はありません。</h>
<% end %>

