<div class="polaroid-list-containar py-5">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
    <div class="polaroid w-50 mx-auto mt-4 shadow-lg">
      <div class="polaroid-header">
        <%= I18n.l post.date, format: :long %>
      </div>
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, class:"polaroid-img"; %>
      <% end %>
      <div class="polaroid-body">
        <div class="row">
          <div class="col-2 text-center">
            <%= link_to user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, :fill, 75, 75, fallback: "no_image.jpg", class:"profile-image mt-3 rounded-circle"; %></br>
              <div class="username"><%= post.user.nickname %></div>
            <% end %>
          </div>
          <div class="col-10" id="favorite_<%= post.id %>">
            <p class="polaroid-title">
              <span><%= post.title %></span>
            </p>
            <p class="polaroid-text">
              <%= post.content %>
            </p>
            <div class="tag"><%= render "posts/index_tag_list", post: post %></div>
            <div class="icon">
              <span class="favorite"><%= render "favorites/favorite", post: post %></span>
              <span>
                <%= link_to post_path(post.id), class:"text-dark" do %>
                  <i class="far fa-comment-alt"></i>
                  <span> <%= post.comments.count %></span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>フォローしよう</p>
  <% end %>
</div>