<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/">ロゴ予定</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <% if uncheck_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li>
            <%= link_to "NOTICE", notifications_path, class: "btn-default" %>
          </li>
          <li class="nav-item">
            <%= link_to 'タイムライン', posts_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to '投稿フォーム', new_post_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザー', users_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>